@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}
body {
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    min-height: 100%;
    margin: 0;
}
h1,ul,li {
    display:inline;
    margin:0;
    padding:0;
}
section {
    min-height: 100%;
    padding: .5rem;
}
a:hover {
    background: black;
    color: white;
}
dl {
    margin: .5rem;
    padding: .5rem;
}
dd {
    font-size: 75%;
}
img {
    max-width: 100%;
}
section#people {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: .5rem 0;
}

section#people a {
    text-decoration: none;
}

section#suca {
    padding:0;
    background: black;
    text-align: center;
}

.reset {
    display: inline-block;
    padding: .5rem;
    background: #000;
    color: #FFF;
}

.fade {
    opacity: .5;
}
.fade:hover, .fade:active {
    opacity: 1;
}
