body {
    margin: 0;
}

form {
    margin: 1em auto;
    max-width: 30em;
}

pre {
    margin: 0.75em;
    padding: .25em;
    font-size: 175%;
}
code {
    display: inline-block;
    padding: 1em;
    font-size: 125%;
}

.instructions {
    display: none;
}

@media print {
    form {
        display: none;
    }
}

@media print and (orientation: portrait) {
    pre, code {
        display: none;
    }
    .instructions {
        display: block;
    }
}
