<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Not My Tempo Collective – Official Website</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Not My Tempo (NMT) is a Collective based in Lugano, Switzerland. We are passionate about music, people and their creations.">
    <link rel="stylesheet" href="css/master.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162935471-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-162935471-1');</script>
<link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
<link rel="manifest" href="assets/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta property="og:title" content="Not My Tempo Collective">
<meta property="og:site_name" content="Official Website">
<meta property="og:url" content="https://notmytempo.xyz/">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="https://notmytempo.xyz/assets/logo.jpg">
</head>
<body>
    <header>
        <h1 id="home">Not My Tempo <span class="fade fade--text">Collective</span></h1>
        <ul class="nav-links">
            <li><a href="https://www.instagram.com/notmytempocollective/" target="_blank" title="NMT on Instagram"><span>instagram</span> <i>&nearr;</i></a></li>
            <!-- <li><a href="https://linktr.ee/notmytempocollective" target="_blank">linktree</a></li> -->
            <li><a href="https://open.spotify.com/user/glavjkevg99kdx01hamnrqu4w" target="_blank" title="NMT on Spotify"><span>spotify</span> <i>&nearr;</i></a></li>
        </ul>
        <nav>
            <ul class="nav-links nav-links--down">
                <li><a href="#bio" title="Bio"><span>bio</span> <i>&darr;</i></a></li>
                <li><a href="#members" title="Current Members"><span>members</span> <i>&darr;</i></a></li>
            </ul>
        </nav>
    </header>
    <section id="bio">
        <a href="#home" class="home-link" title="Home">&uarr;</a>
        <div class="content">
            <h2>Bio</h2>
            <p>
                We are Not My Tempo Collective and we are passionate about music, people and their creations. Creators of dreams with intriguing mindsets and a vision that unites us. These are the people that we want to be close to and collaborate with.
            </p>
            <p>
                Not My Tempo was born as a Collective in Lugano, in the Southern part of Switzerland, a place that draws together European influences between north and south.
            </p>
            <p>
                We are still figuring out what NMT is going to be besides a collective and what it will end up standing for. While we work this out, <a href="https://www.instagram.com/notmytempocollective/" target="_blank" title="Follow us on Instagram">follow</a> us and listen to our series of playlists specifically created for NMT.
            </p>
            <p>
                Whenever you feel a connection, do <a href="mailto:notmyposta@gmail.com" target="_blank" title="Send an Email">reach out</a> and define NMT with us.
            </p>
        </div>
        <a href="#members" class="next-link" title="Current Members">&uarr;</a>
    </section>

    <section id="members">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <a href="#home" class="home-link" title="Home">&uarr;</a>
        <div class="content">
            <h2>Current Members</h2>
        </div>
        <div class="reset-wrapper" v-if="filter">
            <a href="#members" v-on:click="reset" class="reset" ref="resetPeople" title="Reset Filter"><b>&times;</b> {{filterValue}}</a>
        </div>
        <div class="collection">
            <dl v-for="p in people" v-if="p.check" v-bind:class="{fade: p.fade}">
                <dt>
                    <a :href="p.url" v-if="p.url && p.url.length" target="_blank" title="Check out {{p.name}}">{{p.name}} <i>&nearr;</i></a>
                    <span v-else>{{p.name}}</span>
                </dt>
            </dl>
        </div>
    </section>
    <script src="js/main-min.js?x"></script>

    <script type="application/ld+json">
    {
        "@context" : "https://schema.org",
        "@type" : "Person",
        "name" : "your name",
        "url" : "http://www.your-site.com",
        "sameAs" : [
            "https://www.instagram.com/notmytempocollective/"
        ]
    }
    </script>
</body>
</html>
